@model AM.ApplicationCore.Domain.Cagnotte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cagnotte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SommeDemandée)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SommeDemandée)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entreprise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entreprise.AdresseEntreprise)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CagnotteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
