@model IEnumerable<AM.ApplicationCore.Domain.Cagnotte>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <label for="nom">Cagnotte</label>
    <input type="text" name="nom"/>
    <input type="submit" value="Search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SommeDemandée)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLimite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entreprise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                   
                    <img src="~/uploads/@item.Photo" width="50" height="50">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SommeDemandée)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLimite)
            </td>
             <td>

                    <a asp-action="Details" asp-controller="Entreprise" asp-route-id="@item.Entreprise.EntrepriseId">Entreprise</a> |

                </td>
             <td>
                <a asp-action="Edit" asp-route-id="@item.CagnotteId">Edit</a>
                <a asp-action="Create" asp-route-id="@item.CagnotteId">Create</a>
                <a asp-action="Delete" asp-route-id="@item.CagnotteId">Delete</a>
            </td>
               
        </tr>
           
}
    </tbody>
</table>
